

html {
  font-family: "Varela Round", sans-serif;
}

body {
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  text-align: end;

}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

section div {
  width: 100%;
  float: left;
  display: flex;
}

section p {
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
}
#lista1{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  flex-wrap: wrap;
}
#machineName {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: flex-start;
}
#machineName:hover {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: flex-start;
  transform: rotate(0) scale(1.2);
}

nav {
  max-width: 100%;
}
nav {
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav a {
  list-style-type: none;
  float: left;
  padding: 5px;

}
